nav{
	text-align: center;
}
section{
	background: black;
	color:white;
	margin-bottom:20px; 
	display: none;
}
.menu_item{
	background: black;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 70px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.menu_item:hover{
	background: white;
	color: black;
}
#seccion_04
{
	background: red;
}
.mostrar{
	display: block;
}